/* @font-face {
  font-family: TayBasal;
  src: url('assets/fonts/TayBasal.otf') format("opentype");
  font-display: swap;
}

@font-face {
  font-family: TAYJukeboxJohnny;
  src: url('assets/fonts/TAYJukeboxJohnny.otf') format("opentype");
  font-display: swap;
} */

:root {
  --color-primary: #0061fe;
  --color-secondary: #572a0d;
  --color-tertiary: #9d4121;
  --color-quaternary: #fabb00;
  --color-text: #0061fe;
  --color-bg: #fefdf9;
  --font-heading-family: serif;
  --font-secondary-heading: sans-serif;
  --font-body-family: sans-serif;
}

#root {
  @apply bg-bg text-text;
}

/* Basic Typography */
h1,
.h1 {
  @apply md:text-9xl text-6xl font-header;
}

h2,
.h2 {
  @apply md:text-7xl text-[46px] font-header;
  line-height: 100%; /* 46px */
}

h3,
.h3 {
  @apply md:text-[38px] text-3xl;
}

h4,
.h4 {
  @apply md:text-4xl text-[28px];
}

h5,
.h5 {
  @apply md:text-[26px] text-xl;
}

h6,
.h6 {
  @apply text-xs md:text-xl uppercase font-body;
}

.p1 {
  @apply text-xl;
}

.p2 {
  @apply text-base;
}

.p3 {
  @apply text-sm;
}

body {
  @apply font-body;
}

/* Buttons */
.button {
  @apply inline-flex items-center justify-center min-h-0 px-4 py-3 text-sm font-bold tracking-widest text-center text-white uppercase transition-colors rounded-sm cursor-pointer hover:text-black focus:text-black focus:bg-white hover:bg-white font-secHeader;
}

.button[aria-disabled="true"] {
  @apply cursor-not-allowed opacity-50;
}

.button--primary {
  @apply bg-primary text-text hover:bg-text hover:text-primary;
}

.button--secondary {
  @apply bg-text text-primary hover:bg-quaternary hover:text-text;
}

.button--tertiary {
  @apply bg-bg text-text hover:bg-primary hover:text-text;
}

.button--text {
  @apply underline uppercase text-tertiary underline-offset-2;
}

/* .noise {
  background: url("/noise.svg"), url("/noise.svg");
  background-size: cover;
  filter: contrast(170%) brightness(1000%);
  background-color: #294dae;
  opacity: 20%;
  mix-blend-mode: multiply;
  animation: b 0.1s infinite alternate;
  background-position: 50% 0%, 60% 60%;
}

@keyframes b {
  100% {
    background-position: 50% 0%, 60% 50%;
  }
} */
