#root {
  @apply bg-background text-text;
}

/* Basic Typography */
h1,
.h1 {
  @apply md:text-9xl text-6xl font-header !leading-snug;
}

h2,
.h2 {
  @apply md:text-6xl text-[40px] font-header !leading-snug;
}

.h2__italic {
  @apply md:text-6xl text-[40px] font-secHeader !leading-snug uppercase;
}

h3,
.h3 {
  @apply md:text-[50px] text-[32px] font-header !leading-snug;
}

h4,
.h4 {
  @apply md:text-[40px] text-[26px] font-header;
}

h5,
.h5 {
  @apply md:text-[25px] text-base font-body uppercase;
}

h6,
.h6 {
  @apply text-sm md:text-[15px] uppercase font-body;
}

.p1 {
  @apply text-[18px] font-body;
}

.p1__medium {
  @apply text-[18px] font-medium font-body;
}

.p2 {
  @apply text-sm font-body;
}

body {
  @apply font-body overflow-x-hidden;
}

/* Buttons */
.button {
  @apply inline-flex items-center justify-center min-h-0 w-fit px-8 py-3 text-[18px] font-medium font-body text-center text-white uppercase transition-colors rounded-sm cursor-pointer;
}

.button[aria-disabled="true"] {
  @apply cursor-not-allowed opacity-50;
}

.button--primary {
  @apply bg-background text-text rounded-full;
}

.button--secondary {
  @apply bg-text text-white border border-white rounded-full;
}

.button--tertiary {
  @apply bg-background text-text hover:bg-primary hover:text-text;
}

.button--text {
  @apply underline uppercase text-tertiary underline-offset-2;
}

/* .threedShape {
  @apply hue-rotate-[345deg] brightness-100 saturate-[1.10];
} */

.circle {
  --circle-size: 20px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  background-color: #0061fe;
  transition-property: height, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: 9999;
}

/* Targets the scrollbar track (part the thumb slides within) */
::-webkit-scrollbar-track {
  @apply bg-background shadow-inner shadow-tertiary;
}

/* Targets the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  @apply rounded-[10px] border border-text;
  background: linear-gradient(0deg, #a8b6f5 0%, #0061fe 100%);
}

::-webkit-scrollbar-thumb:hover {
  background: #0061fe;
}

/* Targets the main scrollbar container */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

a:not(.button)::after {
  @apply left-0 bottom-0 absolute bg-text w-0 h-0.5 transition-all duration-150 rounded-sm;
  content: "";
}

a:hover::after,
.menu-link:hover .menu-underline {
  @apply w-full;
  transition: width 0.3s;
}

a {
  @apply relative;
}

.threedShape video {
  display: block; /* Removes bottom space/gap */
  width: 100%;
  height: auto;
}

.threedShape::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  /* box-shadow: 0 0 5px 5px #fdf5ed inset; */
  box-shadow: 0 0 10px 10px #fdf5ed inset;
}
