.footerGrid__item {
  @apply border border-text md:rounded-xl rounded-lg py-6 md:px-11 lg:px-14 px-4;
}

.connect {
  @apply relative z-30;
}

.follow,
.followMob {
  @apply relative;
}

.footerGrid__item li {
  @apply pb-2;
}

.connectDesc {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
