/* .amona {
  left: calc(50%);
  transform: translateX(-50%);
}

.floatingR {
  left: calc(50% - 292px);
  transform: translateX(-50%);
} */

.amona {
  left: calc(50% + 146px);
  transform: translateX(calc(-50% - 73px));
}

/* .floatingR {
  left: calc(50% - 292px);
  transform: translateX(-50%);
} */

.amona__letter {
  @apply relative;
}
