.amona {
  left: calc(50% + 73px);
  transform: translateX(calc(-50% - 36.5px));
}

@media screen and (min-width: 768px) {
  .amona {
    left: calc(50% + 146px);
    transform: translateX(calc(-50% - 73px));
  }
}

.amona__letter {
  @apply relative;
}

.floatingR {
  left: calc(50% - 170px);
}

@media screen and (min-width: 768px) {
  .floatingR {
    left: calc(50% - 350px);
  }
}
