@font-face {
  font-family: "TheSilverEditorialRegular";
  src: url("../assets/fonts/thesilvereditorial-regular.woff2") format("woff2"),
    url("../assets/fonts/thesilvereditorial-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "TheSilverEditorialItalic";
  src: url("../assets/fonts/thesilvereditorial-italic.woff2") format("woff2"),
    url("../assets/fonts/thesilvereditorial-italic.woff") format("woff");
  font-display: swap;
}

:root {
  --font-heading-family: "TheSilverEditorialRegular", serif;
  --font-secondary-heading: "TheSilverEditorialItalic", serif;
  --font-body-family: sans-serif;
  --background: #fdf5ed;
  --color-text: #0061fe;
}

body {
  font-family: var(--font-body-family);
}

h1 {
  font-family: var(--font-heading-family);
}

a {
  text-decoration: none;
}

.button {
  display: inline-flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  width: fit-content;
  min-height: 0;
  font-family: var(--font-body-family);
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: pointer;
  color: 18px;
}

.button--primary {
  border-radius: 9999px;
  background-color: var(--color-text);
  color: #fff;
}

.noscript-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 3rem;
}

.noscript-logo {
  width: 3rem;
}

body {
  background-color: var(--background);
}
